<div class="row">
    <div class="col-lg-6 mx-auto">
        <table class="table ">
            <tr class="text-center">
                <th class="p-3">No.</th>
                <th class="p-3">City</th>
                <th class="p-3">Action</th>
            </tr>
            <tr *ngFor="let city of cities;let i = index;" class="text-center " >
                <td>{{ i+1 }}</td>
                <td>{{ city.name }}</td>
                <td>
                    <a routerLink="/city/{{ city.id }}" class="btn btn-success btn-sm m-2">Edit</a>&nbsp;&nbsp;&nbsp;
                    <a (click)="deleteCity(city.id)" class="btn btn-danger btn-sm m-2">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    
</div>